.search {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: left;
  padding: 15px;
  margin: 10px;
}
.input {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}
.close {
  position: absolute;
  right: 2px;
  top: 4.5%;
  margin: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.close::before {
  margin: 0;
  padding: 0;
  content: '';
  position: absolute;
  top: 4px;
  left: 9.5px;
  width: 1px;
  height: 12px;
  background-color: black;
  border-width: 0 0.3em 0.25em 0;
  transform: rotate(45deg);
}
.close::after {
  margin: 0;
  padding: 0;
  content: '';
  position: absolute;
  top: 4px;
  left: 9.5px;
  width: 1px;
  height: 12px;
  background-color: black;
  border-width: 0 0.3em 0.25em 0;
  transform: rotate(315deg);
}

span {
  font-size: 1.5rem;
  margin: 0 5px;
}

/* .tablet {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 15px;
  width: 100%;
}

.tablet input {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.tablet span {
  font-size: 1.5rem;
  margin: 0 15px;
}

.tablet .close::before {
  margin: 0;
  padding: 0;
  content: '';
  position: absolute;
  top: 8px;
  left: 7px;
  width: 1px;
  height: 15px;
  background-color: black;
  border-width: 0 0.3em 0.25em 0;
  transform: rotate(45deg);
}
.tablet .close::after {
  margin: 0;
  padding: 0;
  content: '';
  position: absolute;
  top: 8px;
  left: 7px;
  width: 1px;
  height: 15px;
  background-color: black;
  border-width: 0 0.3em 0.25em 0;
  transform: rotate(315deg);
} */
@media only screen and (min-width: 425px) {
  .search {
    flex-direction: row;
  }
  .close::before {
    top: 5px;
    left: 10px;
    height: 15px;
  }

  .close::after {
    top: 5px;
    left: 10px;
    height: 15px;
  }
  span {
    font-size: 1.5rem;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .search {
    display: flex;
    flex-direction: row;
  }
  .close::before {
    top: 9px;
    left: 10px;
    height: 15px;
  }

  .close::after {
    top: 9px;
    left: 10px;
    height: 15px;
  }
  span {
    font-size: 2rem;
    margin: 0 20px;
  }
}
