.search {
  display: flex;
  text-align: center;
  justify-content: left;
  padding: 15px;
  margin: 10px;
  width: 50vw;
}

button {
  background-color: rgb(123, 123, 238);
  border-radius: 3px;
  margin-left: 5px;
  width: 50px;
}

span {
  margin-right: 25px;
  font-size: 1.5rem;
}
