body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}
header {
  display: flex;
  justify-content: center;
}
main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.country_list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }
}
